body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #312c85, #0e70d1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #312c85;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #4facfe;
}

.login-container {
  background: #312c85;
  padding: 80px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  color: #bbb;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background: #0176dc;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #2018b0;
}

#error {
  color: red;
}

.hidden {
  display: none;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #312c85;
  color: white;
  text-align: center;
  padding: 10px;
}
